*.sln
*.csproj
Temp
Temp.meta
Library
.vs
Build
*.sln.DotSettings.user
bin
obj
.idea
Assets/StreamingAssets
Assets/StreamingAssets.meta
.DS_Store
*.userprefs
StreamingAssets
node_modules
logs
*.unityproj
.vscode
typings
jsconfig.json
CSharpGenerated.dll
CSharpGenerated.dll.meta