*.sln
*.csproj
Temp
Library
.vs
Build
*.sln.DotSettings.user
bin
obj
.idea
!Scripts/Scripts.sln
!Scripts/Scripts.csproj
Assets/StreamingAssets
Assets/StreamingAssets.meta
.DS_Store
*.userprefs
StreamingAssets/prefabs
StreamingAssets/textures
StreamingAssets/Scripts.dll
StreamingAssets/StreamingAssets
StreamingAssets/StreamingAssets.manifest
